<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>About</title>
</head>
<body>
    <nav >
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li class="yellow">
                <a href="/works">Works</a>
            </li>
        </ul>
    </nav>
    <div class="descrition">
        <p>
            Neymar da Silva Santos Júnior (Mogi das Cruzes, 5 de fevereiro de 1992), mais conhecido como Neymar ou Neymar Jr.,<br>
                é um futebolista brasileiro que atua como ponta-esquerda ou meia-atacante. <br>
                Atualmente joga pelo Paris Saint-Germain e pela Seleção Brasileira. É considerado o principal futebolista brasileiro da atualidade e um dos melhores futebolistas do mundo. <br>
        <img src= 'https://www.futwiz.com/assets/img/fifa21/faces/190871.png'
        alt="neymar image"
        />
            </p>
        <p>
            Revelado pelo Santos em 2009, Neymar ganhou diversos títulos com o clube, incluindo dois Campeonatos Paulistas seguidos, <br>
              uma Copa do Brasil e uma Libertadores; com esse último sendo o primeiro do Santos desde 1963. <br>
              Ele ganhou por duas vezes seguidas o prêmio de melhor jogador sul-americano do ano, em 2011 e 2012, e um prêmio Puskás, de gol mais bonito do ano, em 2011. <br>
              Em 2013, foi vendido ao Barcelona, após ser protagonista da conquista da Copa das Confederações de 2013 pela Seleção Brasileira. <br>
              Considerada a venda mais cara da história do futebol brasileiro, Neymar, na sua segunda temporada pelo clube espanhol, estrelando um trio de ataque ao lado de Lionel Messi e Luis Suárez, <br>
              conquistou a tríplice coroa de La Liga, Copa del Rey e Liga dos Campeões da UEFA, terminando como um dos artilheiros da última e se consagrando como um dos melhores futebolistas do mundo, <br>
              sendo finalista da Bola de Ouro da FIFA por suas atuações no mesmo ano. <br>
              Em 2017, se tornou a transferência mais cara da história do futebol, com sua venda milionária ao Paris Saint-Germain por 222 milhões de euros.
        </p>
    </div>
</body>
</html>