<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav >
        <ul>
            <li>
                <a href="./about">About</a>
            </li>
            <li class="yellow">
                <a href="./works">Works</a>
            </li>
        </ul>
    </nav>
    <h1>Welcome to Neymar fan page</h1>
    <img src="https://www.futwiz.com/assets/img/fifa20/faces/151185815.png"
    alt="neymar image"
    class="img-home"/>
</body>
</html>